# Rebel Documentation Sphinx build requirements

sphinx==8.2.3

# Sphinx Read the Docs Theme
# https://pypi.org/project/sphinx-rtd-theme/
sphinx_rtd_theme==3.0.2

# Sphinx tabs
# https://pypi.org/project/sphinx-tabs/
sphinx-tabs==3.4.7

# Sphinx not found page extension
# https://pypi.org/project/sphinx-notfound-page/
sphinx-notfound-page==1.1.0

# Sphinx opengraph extension
# https://pypi.org/project/sphinxext-opengraph/
sphinxext-opengraph==0.13.0

# Matplotlib
# https://pypi.org/project/matplotlib/
matplotlib==3.10.1
