{% extends "!layout.html" -%}
{% block linktags -%}
  <meta name="theme-color" content="#3d8fcc">
  {% if inject_language_links -%}
  {% for alternate_lang in docs_supported_languages -%}
  {# Convert to ISO 639-1 format, e.g. zh_CN -> zh-cn -#}
  {% set alternate_lang_href = alternate_lang.lower().replace("_", "-") -%}
  <link rel="alternate" hreflang="{{ alternate_lang_href }}" href="{{ docs_basepath }}{{ alternate_lang }}/{{ canonical_version }}/{{ pagename }}{{ docs_suffix }}" />
  {% endfor -%}
  <link rel="alternate" hreflang="x-default" href="{{ docs_basepath }}{{ default_lang }}/{{ canonical_version }}/{{ pagename }}{{ docs_suffix }}" />

  <link rel="canonical" href="{{ docs_basepath }}{{ lang_attr }}/{{ canonical_version }}/{{ pagename }}{{ docs_suffix }}" />
  {% endif -%}
  {{ super() }}
{% endblock -%}

{% block htmltitle -%}
<title>{{ title_prefix }}{{ title|striptags|e }}{{ titlesuffix }}</title>
{% endblock -%}
