name: Documentation Checks
on:
  push:
  pull_request:

jobs:
  check-documentation:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          #Install dependencies
          sudo apt-get update
          sudo apt-get install -y \
          recode                  \
          dos2unix                \
          codespell

      - name: File formatting checks (file-format.sh)
        run: |
          bash _tools/scripts/file-format.sh

      - name: Spelling checks (codespell)
        run: |
          codespell                            \
          -I _tools/codespell-ignore-words.txt \
          -x _tools/codespell-ignore-lines.txt \
          --skip="_*","env"

      - name: Create patch file
        if: failure()
        run: |
          git diff > documentation.patch

      - name: Upload patch file
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: documentation-patch
          path: |
            documentation.patch

  build-documentation:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          #Install dependencies
          sudo apt-get update
          sudo apt-get install -y \
          python3-virtualenv

      - name: Configure Sphinx environment
        run: |
          #Configure Sphinx environment
          virtualenv env
          source env/bin/activate
          pip install -r requirements.txt

      - name: Sphinx dummy build
        run: |
          #Build dummy documentation
          source env/bin/activate
          make dummy SPHINXOPTS="-W --keep-going"
